body{
    margin: 0;
    font-family: sans-serif;
    background-color: #015625;
    color: rgb(231, 231, 231);
}

.title {
    margin: 0 auto;
    width: 400px;
}

.content {
    margin: 0 auto;
    width: 400px;
}

.image_div {
    margin: 0 auto;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
}

/* Styles for error message */
.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 10px;
}