{% extends 'base.html' %}

{% block head %}

<title>PostBoard Home</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='nova_eye.png') }}">

{% endblock %}

{% block body %}
<div class="title">
    <h1 style="text-align: center">Welcome to PostBoard!</h1>
    <h2 style="text-align: center">Post whatever's on your mind for all to see!</h2>
    <h3 style="text-align: center">As a guest, you can only view posts; you'll need to register and/or sign in to create posts!</h3>
</div>
<div style="text-align: center" class="header_buttons">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/page3">Post</a>
</div>
<br>
<div style="text-align: center" class="row">

    <h1>Welcome, Guest</h1>

</div>
<br>

<div style="text-align: center"; class="image_div">
    <br>
    <image src="{{ url_for('static', filename='images/nova-approved.png')}}" alt="Nova approved" style="width:550px;height:400px;"></image>
</div>
{% endblock %}