{% extends 'base.html' %}

{% block head %}

<title>Nova Page</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='nova_eye.png') }}">

{% endblock %}

{% block body %}
<div class="title">
    <h1 style="text-align: center">Welcome!</h1>
    <h2 style="text-align: center">This page is currently under development.</h2>
    <h3 style="text-align: center">For now, enjoy this picture of Nova!</h3>
</div>

<div style="text-align: center";class="content">

    <a href="/page1">Register</a>
    <br>
    <a href="/page2">Login</a>
    <br>
    <a href="/page3">Post</a>
    <br>

</div>

<div style="text-align: center"; class="image_div">
    <br>
    <image src="{{ url_for('static', filename='images/nova_small.png')}}"/>

    <p id="nova">This is Nova!</p>
    <script src="{{ url_for('static', filename='js/home_functions.js') }}"></script>
</div>
{% endblock %} 