{% extends 'base.html' %}

{% block head %}
<title>Post Page</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_style.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
{% endblock %}

{% block body %}
<div class="post-section">
    <h1>Say some things</h1>
    <textarea id="post-content" required placeholder="Make your post here!"></textarea>
    <button id="submit-post">Post</button>
    <hr>
    <h1>Posts</h1>
    <div id="posts-container">
        {% for post in posts %}
        <div class="post" id="post-{{ post._id }}">
            <p><strong>{{ post.username }}</strong> posted:</p>
            <p>{{ post.content | safe }}</p>
            <button class="like-button" data-post-id="{{ post._id }}">Like</button>
            <span id="like-count-{{ post._id }}">{{ post.likes | default(0) }}</span>
            <button class="dislike-button" data-post-id="{{ post._id }}">Dislike</button>
            <span id="dislike-count-{{ post._id }}">{{ post.dislikes | default(0) }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
